{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
	<div class="row">
		<div class="panel with-nav-tabs panel-default">
            <div class="panel-heading" style="padding-bottom: 0px;">
                <ul class="nav nav-tabs" style="border-bottom:0px;">
                    <li class="active"><a href="#user" data-toggle="tab">User</a></li>
                    <li><a href="#Uploads" data-toggle="tab">Uploads</a></li>
                    <li><a href="#Favorites" data-toggle="tab">Favorites</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="user">
                    	<div class="media">
                    	  <div class="media-left">
                    	      <img class="media-object" src="{{ (user.avatar)| imagine_filter('avatar')}}" >
                    	  </div>
                    	  <div class="media-body">
                    	    <h4 class="media-heading">{{ user.username }}</h4>
                    	    Member since {{ user.createdAt|date("F j\\, Y")}}
                    	  </div>
                    	</div>
                    </div>
                    <div class="tab-pane fade" id="Uploads">
                    	{% include 'show_wallpapers.html.twig' with {'wallpapers': user.uploads, 'title': 'User Uploads'} %}
                    </div>
                    <div class="tab-pane fade" id="Favorites">
                    	{% include 'show_wallpapers.html.twig' with {'wallpapers': user.favorites, 'title': 'User Favorites'} %}
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>