<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Wallpapers!{% endblock %}</title>
        {% block stylesheets %}
          {% stylesheets 'css/*' filter='cssrewrite' output='css/compiled/app.min.css' %}
              <link rel="stylesheet" href="{{ asset_url }}"/>
          {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ path('homepage') }}"><span class="glyphicon glyphicon-home"></span> Wallpapers</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                {% else %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">hey {{ app.user.username }}!<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        {% if is_granted("ROLE_ADMIN") %}
                        <li ><a href="{{ path('admin_index') }}">Admin</a></li>
                        {% endif %}
                        <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                        <li><a href="{{ path('wallpaper_create') }}">Add Wallpaper</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                      </ul>
                    </li>
                {% endif %}

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ path('wallpaper_category',{'name': 'Abstract'}) }}">Abstract</a></li>
                    <li><a href="{{ path('wallpaper_category',{'name': 'Animals'}) }}">Animals</a></li>
                    <li><a href="{{ path('wallpaper_category',{'name': 'Anime'}) }}">Anime</a></li>
                    <li><a href="{{ path('wallpaper_category',{'name': 'Cars'}) }}">Cars</a></li>
                    <li><a href="{{ path('wallpaper_category',{'name': 'Celebrities'}) }}">Celebrities</a></li>
                    <li><a href="{{ path('wallpaper_category',{'name': 'Fantasy'}) }}">Fantasy</a></li>
                    <li><a href="{{ path('wallpaper_category',{'name': 'Games'}) }}">Games</a></li>
                    <li><a href="{{ path('wallpaper_category',{'name': 'Landscape'}) }}">Landscape</a></li>
                    <li><a href="{{ path('wallpaper_category',{'name': 'Miscellany'}) }}">Miscellany</a></li>
                    <li><a href="{{ path('wallpaper_category',{'name': 'Movies'}) }}">Movies</a></li>
                    <li><a href="{{ path('wallpaper_category',{'name': 'Sports'}) }}">Sports</a></li>
                    <li><a href="{{ path('wallpaper_category',{'name': 'Universe'}) }}">Universe</a></li>
                  </ul>
                </li>
              </ul>
              <form class="navbar-form navbar-right" role="search" name="search" method="POST" action="{{ path('wallpaper_search') }}">
                <div class="form-group">
                  <input type="text" class="form-control" name="search" placeholder="Search" value="{{ (search is defined)?search}}" >
                </div>
                <input type="hidden" name="page" value="1">
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
              </form>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
          {% javascripts 'js/jquery-3.2.1.min.js'
                         'js/bootstrap.min.js'
                         'js/*' output='js/compiled/main.min.js' %}
              <script src="{{ asset_url }}"></script>
          {% endjavascripts %}
        {% endblock %}
    </body>
</html>
