<h1 class="text-center">{{ title }}</h1>
{% if wallpapers is empty %}
    <h4 class="text-center">No Results</h4> 
{% else %}
<div class="row">
    {% for wallpaper in wallpapers %}
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <a href="{{ path('wallpaper_show', { 'id' :  wallpaper.id })}}" class="thumbnail" >
                <img src="{{ (wallpaper.path)| imagine_filter('wall_thumb') }}"  class="img-responsive">
            </a>
        </div>
    {% endfor %}
</div>
{% endif %}