{% extends 'base.html.twig' %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('message') %}
    <div class="alert alert-success" role="alert">
        <div class="container text-center"> {{ flashMessage }} </div>
    </div>
{% endfor %}
<div class="honeycombs">
  <div class="comb">
    <img  src="{{ asset("images/abstract.jpeg") }}" />
    <span><a href = {{ path('wallpaper_category', {'name':'Abstract'}) }} >Abstract</a></span>
  </div>
  <div class="comb">
    <img src="{{ asset("images/animals.jpeg") }}" />
    <span><a href = {{ path('wallpaper_category', {'name':'Animals'}) }} >Animals</a></span>
  </div>
  <div class="comb">
    <img src="{{ asset("images/anime.jpeg") }}" />
    <span><a href = {{ path('wallpaper_category', {'name':'Anime'}) }} >Anime</a></span>
  </div>
  <div class="comb">
    <img src="{{ asset("images/cars.jpeg") }}" />
    <span><a href = {{ path('wallpaper_category', {'name':'Cars'}) }} >Cars</a></span>
  </div>
  <div class="comb">
    <img src="{{ asset("images/celebrities.jpeg") }}"/> 
    <span><a href = {{ path('wallpaper_category', {'name':'Celebrities'}) }} >Celebrities</a></span>
  </div>
  <div class="comb">
    <img src="{{ asset("images/fantasy.jpeg") }}" /> 
    <span><a href = {{ path('wallpaper_category', {'name':'Fantasy'}) }} >Fantasy</a></span>
  </div>
  <div class="comb">
    <img src="{{ asset("images/games.jpeg") }}" /> 
    <span><a href = {{ path('wallpaper_category', {'name':'Games'}) }} >Games</a></span>
  </div>
  <div class="comb">
    <img src="{{ asset("images/landscape.jpeg") }}" /> 
    <span><a href = {{ path('wallpaper_category', {'name':'Landscape'}) }} >Landscape</a></span>
  </div>
  <div class="comb">
    <img src="{{ asset("images/miscellany.jpeg") }}" /> 
    <span><a href = {{ path('wallpaper_category', {'name':'Miscellany'}) }} >Miscellany</a></span>
  </div>
  <div class="comb">
    <img src="{{ asset("images/movies.jpeg") }}" /> 
    <span><a href = {{ path('wallpaper_category', {'name':'Movies'}) }} >Movies</a></span>
  </div>
  <div class="comb">
    <img src="{{ asset("images/sports.jpeg") }}" />
    <span><a href = {{ path('wallpaper_category', {'name':'Sports'}) }} >Sports</a></span>
  </div>
  <div class="comb">
    <img src="{{ asset("images/universe.jpeg") }}" /> 
    <span><a href = {{ path('wallpaper_category', {'name':'Universe'}) }} >Universe</a></span>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
  $(document).ready(function() {
    $('.honeycombs').honeycombs({
    combWidth: 250,
    margin: 10
    });
  });
</script>
{% endblock %}
