{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
	{% include 'show_wallpapers.html.twig' %}
	<div class="text-center">
		<nav aria-label="Page navigation">
		  {% if maxPages > 1 %}
		  <ul class="pagination">
		    <li {{ thisPage == 1 ? 'class="disabled"' }}>
		      <a href="{{ path(app.request.attributes.get('_route'), { 'name': app.request.get('_route_params')['name'], 'page':(thisPage-1 < 1 ? 1 : thisPage-1)})}}" aria-label="Previous"  >
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
			{% for i in 1..maxPages %}
		    <li {{ thisPage == i ? 'class="active"' }}>
		    	<a href="{{ path(app.request.attributes.get('_route'), { 'name': app.request.get('_route_params')['name'], 'page':i})}}" >{{ i }}</a>
		    </li>
		    {% endfor %}

		    <li {{ thisPage == maxPages ? 'class="disabled"' }}>
		      <a href="{{ path(app.request.attributes.get('_route'), { 'name': app.request.get('_route_params')['name'], 'page':((thisPage+1 <= maxPages) ? thisPage+1 : thisPage)})}}"  aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		  {% endif %}
		</nav>
	</div>
</div>
{% endblock %}