{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
	{% include 'show_wallpapers.html.twig' %}
	<div class="text-center">
		<nav aria-label="Page navigation">
		  {% if maxPages > 1 %}
		  <ul class="pagination">
		    <li {{ thisPage == 1 ? 'class="disabled"' }}>
		      <a class="paginator" data-pageid="{{ thisPage-1 < 1 ? 1 : thisPage-1 }}" href="" aria-label="Previous"  >
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
			{% for i in 1..maxPages %}
		    <li {{ thisPage == i ? 'class="active"' }}>
		    	<a class="paginator" data-pageid="{{ i }}" href="">{{ i }}</a>
		    </li>
		    {% endfor %}

		    <li {{ thisPage == maxPages ? 'class="disabled"' }}>
		      <a class="paginator" data-pageid="{{ (thisPage+1 <= maxPages) ? thisPage+1 : thisPage }}" href="" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		  {% endif %}
		</nav>
	</div>
</div>

{% endblock %}
{% block javascripts %}
{{parent()}}
<script type="text/javascript">
$(document).ready(function(){
	$('.paginator').on('click', function(e){
		e.preventDefault();
		let page = $(e.target).data("pageid");
		$('input[name=page]').val(page);
		$('input[name=search]').val("{{ search }}")
		$('form[name=search]').submit();
	});
});
</script>
{% endblock %}