{% extends "base.html.twig" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="panel panel-default container">
            <div class="panel-heading row">
                <h3>
                    <div class="col-xs-12 col-sm-3 text-center" title="views">
                        <span class="glyphicon glyphicon-sunglasses"></span>{{ wallpaper.views }}
                    </div>
                    <div class="col-xs-12 col-sm-3 text-center" title="size">
                        <span class="glyphicon glyphicon-fullscreen"></span>{{ wallpaper.sizeX }}x{{ wallpaper.sizeY }}
                    </div>
                    <div class="col-xs-12 col-sm-3 text-center">
                        <a href="{{ path('user_profile', {'id': wallpaper.user.id})}}"  title="User">
                            <span class="glyphicon glyphicon-user"></span>{{ wallpaper.user.username }}
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-3 text-center">
                        {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a class="btn btn-danger" disabled="disabled"  title="Please login!" >
                            <span class="glyphicon glyphicon-heart"></span> {{ wallpaper.usersFavorite|length }}
                        </a>
                        {% elseif wallpaper in app.user.favorites %}
                        <a class="btn btn-danger" disabled="disabled"  title="Already in favorites">
                        <span class="glyphicon glyphicon-heart"></span> 
                         {{ wallpaper.usersFavorite|length }}
                        </a>
                        {% else %}
                        <a class="btn btn-danger active" title="Favorite" id="favorite">
                        <span class="glyphicon glyphicon-heart"></span> {{ wallpaper.usersFavorite|length }}
                        </a>
                        {% endif %}
                    </div>
                </h3>
            </div>
            <div class="panel-heading row">
                <p class="text-center">
                    <span class="glyphicon glyphicon-tag"></span>
                    {% for tag in wallpaper.tags %}
                    <a href="{{ path('wallpaper_tag', {'name': tag.name } ) }}">{{ tag.name }}</a>-
                    {% endfor %}
                </p>
            </div>
            <div class="panel-body">
                <a href="{{asset(wallpaper.path)}}"><img src='{{ asset(wallpaper.path) }}' class="col-xs-12 col-sm-10 col-sm-offset-1" ></a>
            </div>
            <div class="panel-footer text-center row">
                <p>Other sizes 
                    <a href="{{(wallpaper.path)|imagine_filter('1920x1200')}}" target="_blank">1920x1200</a>
                    <a href="{{(wallpaper.path)|imagine_filter('1920x1080')}}" target="_blank">1920x1080</a>
                    <a href="{{(wallpaper.path)|imagine_filter('doble')}}" target="_blank">{{ wallpaper.sizeX * 2 }}x{{ wallpaper.sizeY * 2 }}</a>
                    <a href="{{(wallpaper.path)|imagine_filter('half')}}" target="_blank">{{ wallpaper.sizeX * 0.5 }}x{{ wallpaper.sizeY * 0.5 }}</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<div class="container">
    <br>
    <p>Please <a href="{{ url('fos_user_security_login')}}">Login</a> to comment</p>
</div>
{% else %}
<div class="container">
    <form>
    <div class="form-group">
        <textarea id="commentContent" placeholder="Your Comment" required="required" maxlength="200"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" id="btnAddComment" ><span class="glyphicon glyphicon-comment"></span> Add Comment</button>
    </div>
    </form>
</div>
{% endif %}

<div class="container" id="comments">
    {% for comment in wallpaper.comments|reverse %}
        <a href="{{ path('user_profile', {'id': comment.user.id})}}">{{comment.user.username}}</a> {{comment.createdAt|date("F jS Y \\a\\t g:ia")}} said:<br>
        {{comment.content}}<br><br>
    {% endfor %}
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    function addComment(){
        let wallpaperid = {{ wallpaper.id }};
        let url = '{{ path('comment') }}';
        let commentContent = $('#commentContent').val();
        
        let data =  {wallpaperid, commentContent};
        $.post(url,data,function(response){
                $("#comments").prepend("<a href='#'>" + response.comment.user + "</a> "+ response.comment.created + " said:<br>"+ response.comment.content + "<br><br>");
                $('#commentContent').val("");
        }, "json");  
    }
    function favorite(){
        let wallpaperid = {{ wallpaper.id }};
        let url = '{{ path('favorite') }}';
        let data = {wallpaperid};
        
        $.post(url, data, function(response){
            if(response == "ok"){
                $("#favorite").html('<span class="glyphicon glyphicon-heart"></span> '+{{ 1 + (wallpaper.usersFavorite|length) }});
                $("#favorite").attr('disabled', 'disabled');
                $("#favorite").attr('title', 'Already in favorites');
            }
        }, "json");
    }
    $(document).ready(function(){
       $('#btnAddComment').click(function(e){
            if($('#commentContent').val() !== ""){
                e.preventDefault();
                addComment();
            }
       });
       $("#favorite").click(function(){
           favorite();
       });
    });
</script>

{% endblock %}