{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading ">
                    <h1 class="panel-title text-center" style="font-weight: 600;">WALLPAPER</h1>
                </div>
                <div class="panel-body" style="background-color: #f5f5f5;">
                    {{ form_start(form, {'attr':{ 'role':'form', 'class':'form-horizontal'} } ) }}
                    <div class="form-group">
                        {{ form_label(form.img, 'Image (max 4MB)', { 'label_attr' : {'class':'col-sm-12 col-sm-offset-0 control-label', 'style':'text-align: left;' } } ) }}
                        <div class="col-sm-12 col-sm-offset-0">
                                {{ form_widget(form.img, { 'attr' : {'class':'form-control'} }) }}                                    
                            <span class="text-danger">
                                {{ form_errors(form.img) }}
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                      {{ form_label(form.category, null,{'label': 'Category:', 'label_attr':{'class':'col-sm-12 col-sm-offset-0 control-label', 'style':'text-align: left;'}}) }}
                      <div class="col-sm-12 col-sm-offset-0">
                        {{ form_widget(form.category, { 'attr' : {'class':'form-control'} }) }}
                        <span class="text-danger">
                          {{ form_errors(form.category) }}
                        </span>
                      </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.tag, null, {'label': 'Tags:', 'label_attr' : {'class':'col-sm-12 col-sm-offset-0 control-label', 'style':'text-align: left;' } } ) }}
                        <div class="col-sm-12 col-sm-offset-0">
                            {{ form_widget(form.tag, { 'attr' : {'class' : 'form-control', 'maxlength' : '250'} } ) }}
                            <span class="text-danger">
                                {{ form_errors(form.tag) }}
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary center-block">Create</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(document).ready(function() {
        $("#appbundle_wallpaper_tag").tagit(
            {caseSensitive: false}
            );
    });
</script>

{% endblock %}