{% extends "base.html.twig" %}

{% block body %}
{% for flashMessage in app.session.flashbag.get('message') %}
<div class="alert alert-success" role="alert">
	<div class="container text-center"> {{ flashMessage }} </div>
</div>
{% endfor %}
<div class="container-fluid">
	<div class="row">
		<div style="padding: 0 10px 0 10px;">
			<table id="all-users">
			<thead>
				<th>Id</th>
				<th>User name</th>
				<th>Email</th>
				<th>Status</th>
				<th>Action</th>
			</thead>
			<tbody>
				{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.username }}</td>
					<td>{{ user.email }}</td>
					{% if user.enabled %}
						<td>Enabled</td>
						<td><a href="{{ path('admin_disable', {'id': user.id }) }}" onclick="return confirm('Are you sure you want to disable {{ user.username }}?');"><button class="btn btn-danger center-block">Disable</button></a></td>
					{% else %}
						{% if user.confirmationToken is null %}
						<td>Cancelled</td>
						{% else %}
						<td>Disabled</td>
						{% endif %}
						<td><a href="{{ path('admin_enable', {'id': user.id }) }}" onclick="return confirm('Are you sure you want to enable {{ user.username }}?');"><button class="btn btn-success center-block">Enable</button></a></td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<th>Id</th>
				<th>User name</th>
				<th>Email</th>
				<th>Status</th>
				<th>Action</th>
			</tfoot>
		</table>
		</div>
		
	</div>
</div>
{% endblock body %}
{% block stylesheets %}
{{ parent() }}
<link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />
{%endblock%}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function(){
    jQuery('#all-users').DataTable();
});
</script>
{% endblock %}