{% extends "default/index.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="alert alert-info" role="alert">
	<div class="container text-center">Account Confirmed. Congratulations {{ user.username }}!</div>
</div>
{{ parent() }}
{% endblock body %}
