{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h1 class="panel-title text-center" style="font-weight: 600;">REGISTER</h1>
				</div>
				<div class="panel-body" style="background-color: #f5f5f5;">
					{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'role':'form', 'class': 'fos_user_registration_register form-horizontal'}}) }}
					<div class="form-group">
						{{ form_label(form.avatar, null,{
						'label': 'Avatar (max 2MB)',
						'label_attr':{'class':'col-sm-10 col-sm-offset-1 control-label', 'style':'text-align: left;'}
						}) }}
						<div class="col-sm-10 col-sm-offset-1">
							{{ form_widget(form.avatar) }}
							<span class="text-danger">
								{{ form_errors(form.avatar) }}
							</span>
						</div>
					</div>
					<div class="form-group">
						{{ form_label(form.username, null,{
						'label': 'Username',
						'label_attr':{'class':'col-sm-10 col-sm-offset-1 control-label', 'style':'text-align: left;'}
						}) }}
						<div class="col-sm-10 col-sm-offset-1">
							{{ form_widget(form.username, { 'attr' : {'class':'form-control', 'placeholder':'Enter username', 'maxlength' : '50'} }) }}
							<span class="text-danger">
								{{ form_errors(form.username) }}
							</span>
						</div>
					</div>
					<div class="form-group">
						{{ form_label(form.email, null,{
						'label': 'Email',
						'label_attr':{'class':'col-sm-10 col-sm-offset-1 control-label', 'style':'text-align: left;'}
						}) }}
						<div class="col-sm-10 col-sm-offset-1">
							{{ form_widget(form.email, { 'attr' : {'class':'form-control', 'placeholder':'Enter email', 'maxlength' : '180'} }) }}
							<span class="text-danger">
								{{ form_errors(form.email) }}
							</span>
						</div>
					</div>
					
					<div class="form-group">
						{{ form_label(form.plainPassword.second, null,{
						'label': 'Password',
						'label_attr':{'class':'col-sm-10 col-sm-offset-1 control-label', 'style':'text-align: left;'}
						}) }}
					<div class="col-sm-10 col-sm-offset-1">
						{{ form_widget(form.plainPassword.second, { 'attr' : {'class':'form-control', 'placeholder':'Enter password', 'maxlength' : '255'} }) }}
					</div>
					</div>
					<div class="form-group">
						{{ form_label(form.plainPassword.first, null,{
						'label': 'Confirm Password',
						'label_attr':{'class':'col-sm-10 col-sm-offset-1 control-label', 'style':'text-align: left;'}
					}) }}
					<div class="col-sm-10 col-sm-offset-1">
						{{ form_widget(form.plainPassword.first, { 'attr' : {'class':'form-control', 'placeholder':'Repeat password', 'maxlength' : '255'} }) }}
						<span class="text-danger">
							{{ form_errors(form.plainPassword.first) }}
						</span>
					</div>
					</div>
					<div class="form-group">
							<button type="submit" class="btn btn-primary center-block">Register</button>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
</div>