{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h1 class="panel-title text-center" style="font-weight: 600;">LOGIN</h1>
				</div>
				<div class="panel-body" style="background-color: #f5f5f5;">
					<form action="{{ path("fos_user_security_check") }}" method="post" role="form" class="form-horizontal">
						{% if csrf_token %}
						<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
						{% endif %}
						<div class="form-group">
							<label for="username" class="col-sm-10 col-sm-offset-1 control-label" style="text-align: left;">Username</label>
							<div class="col-sm-10 col-sm-offset-1">
								<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="Username"  'maxlength'='50'/>
							</div>
						</div>
						<div class="form-group">
							<label for="password" class="col-sm-10 col-sm-offset-1 control-label" style="text-align: left;">Password</label>
							<div class="col-sm-10 col-sm-offset-1">
								<input type="password" id="password" name="_password" required="required" class="form-control" placeholder="Password" 'maxlength'='255'/>
								{% if error %}
								<span class="text-danger">
									{{ error.messageKey|trans(error.messageData, 'security') }}
								</span>
								{% endif %}
							</div>
						</div>
						<div class="form-check">
							<label for="remember_me" class="col-sm-10 col-sm-offset-1 form-check-label">
								<input type="checkbox" id="remember_me" name="_remember_me" value="on" class="form-check-input" />
								Remember me
							</label>
						</div>
						<div class="form-group">
							<button type="submit" id="_submit" name="_submit" value="Login" class="btn btn-primary center-block">Login</button>
						</div>
					</form>
				</div>
				<div class="panel-footer text-center">
					<p>Don't have an account? <a href="{{path('fos_user_registration_register')}}">Register now</a></p>
				</div>
			</div>
		</div>
	</div>
</div>